body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .left-section {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-cart {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3498db;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-field input:focus {
    border-color: #2980b9;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  